body {
    font-family: 'Lato', sans-serif;
}

h1,h2,h3 {
    font-family: 'Candal', sans-serif;
}

.hero {
    background-image: url("../images/hero.jpg");
    height: 600px;
}
.hero ul {
    list-style: none;
    display: inline-flex;
}
.hero img {
    display: block;
    margin: 50px auto 0;
}
.hero h1,p,a {
    color: white;
    text-align: center;
}
.name {
    border: 1px solid white;
    border-radius: 6px;
    margin-right: 308px;
    margin-top: 180px;
    margin-left: 332px;
    display: block;
}
.icons {
    margin-left:  489px;
}
.icons i {
    padding: 5px;
}

.navigation_bar {
    background: #3b3633;
    padding: 10px 0;
    text-align: center;
}
.navigation_bar ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}
.navigation_bar li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.navigation_bar a {
    text-decoration: none;
    color: white;
}

.about_me {
    background: #8fbba2;
    color: white;
    padding: 20px;
}
.about_me a {
    border: 1px solid white;
    padding: 10px;
}
.quote {
    font-size: 20px;
    font-style: italic;
}
.download {
    text-align: center;
}

.featured_projects {
    background: #f5f5f5;
}
.featured_projects p {
    color: black;
}
.featured_projects img {
    width: 567px;
    height: 350px;
}
.description {
    background: white;
}
.button {
    border: 1px solid gray;
    color: black;
    padding: 5px;
}

.contacts {
    background-image: url("../images/jackson.jpg");
    background-size: cover;
}
.contacts h2 {
    color: white;
}
.contacts ul {
    list-style: none;
    display: inline-flex;
    margin-left: 222px;
}
.contacts li {
    margin-right: 25px;
}

footer {
    background: #8fbba2;
}
footer ul {
    list-style: none;
    display: inline-flex;
}